accelerate==1.2.1
datasets==3.2.0
evaluate==0.4.3
flax==0.10.2
huggingface-hub==0.26.5
keras==3.7.0
numpy
pandas==2.2.3
pyarrow==18.1.0
safetensors==0.4.5
scipy==1.14.1
tensorboard==2.16.2
tensorflow==2.16.2
tf_keras==2.16.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.47.1

